*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
   }
   body{
    padding:1rem;
    height:100vh; 
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#bdc3c7;
     /* background-color:skyblue; */

   }
   .Password-validator{
       margin: auto;
       width: 450px;
       box-shadow:0px 0px 3px #333,
               -0px -0px 3px #333;  
   }
   
   .container{
       width:100%;
    }
   
   .header{
       position:relative;
       padding:1rem 0;
       background-color:indigo;
   }
   .link{
       position:absolute;
       top:50%;
       left:88%;
       color:#fff;
       font-size:1.7rem;
       transform:translateY(-50%);
   }
   
   .header h1{
     color:#fff;
     text-align:center;
     letter-spacing:0.1em;
     font-family:Balthazar,sans-sarif;
   }
   
   .input-part{
       padding:0.4rem;
       background-color:#0c5b63; /*172A3A;*/
   }
   
   label[for="pswd"]{
       display:block;
       text-align:center ;
       margin:1rem ;
       font-size:1.4rem;
       color:#fff;
   }
   
   #pswd,#btn{
       display:block;
       width:90%;
       height:3rem;
       font-size:1rem;
       margin:1rem auto;
       padding:0.3em 0.5rem;
       border-radius:5px;
       border:0;
       outline:none;
   }
   #pswd{
     border-radius: 2px;
   }
   
   #btn{
     color:#fff;
     border:0;
     font-size: 1rem;
     font-weight:bold;   
     width:40%;
     background-color:#247B7B;
     box-shadow:1px 1px 5px lightblue,
                -1px -1px 5px lightblue; 
   }
   #btn:hover{
     background-color:#78CDD7;
     color:#0D5C63;
   }
   .pswd-input{
       position:relative;
   }
   /* Icon Eye */
   #see-icon{
      position:absolute;  
      right:2.3rem;
      top:1rem;
      
   }
   
   .output-part{
       font-size:1rem;
       padding:2vh 1vh;
       background-color:#ddd; /*#78CDD7;*/
   }
   .output-part h3{
      margin:1rem auto;
      text-align:center;
   }
   
   #show{
       margin:0.7rem;
       line-height:2rem;
       list-style:none;
     /* list-item-position:inside; */
   }
   .rw-icon{
     margin:0 10px 0 5px;
   }
   /*
   li:before{
       content:'✔️';
       margin:0 10px;
   }
   
   li:before{
       content:'❌';
       margin:0 10px;
   }
   */
   @media (max-width:480px){
     .container{
         width:100%;
         margin:0 auto;
     }
     .Password-validator {
         padding: 0;
         width: 95%;
     }
   }