@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.top_container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
  margin-bottom: 0;
}
.text {
  color: #40514e;
}

body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-top: 50px;
  line-height: 2;
  color: #66bfbf;
}

.cloud2 {
  position: absolute;
  left: 900px;
  bottom: 300px;
  animation-name: move-2;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
.cloud1 {
  position: absolute;
  right: 900px;
  top: 50px;
  animation-name: move;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@keyframes move {
  0% {
    right: 10%;
  }
  25% {
    right: 40%;
  }
  50% {
    right: 60%;
  }
  75% {
    right: 80%;
  }
  100% {
    right: 85%;
  }
}
@keyframes move-2 {
  0% {
    left: 10%;
  }
  25% {
    left: 40%;
  }
  50% {
    left: 60%;
  }
  75% {
    left: 80%;
  }
  100% {
    left: 85%;
  }
}
h2 {
  font-size: 2.5rem;
  color: #66bfbf;
}
h3 {
  color: #11999e;
}
a {
  color: #11999e;
}
.text {
  font-weight: bolder;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img {
  width: 25%;
  float: right;
  margin-left: 10px;
}
.chillies-img {
  width: 25%;
  float: left;
  margin-right: 10px;
}
.bottom-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.bottom-container a {
  text-decoration: none;
}
